<!DOCTYPE html>
<html>
  <head>
    <title>Allygator Shuttle</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= AppConfig.API_KEY %>&libraries=geometry&callback=initMap">
    </script>
   
      
  </head>

  <body>
    <%= yield %>
  </body>
</html>
